/* full screen */
.Container {
  background: #1a3c5e;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/* HEADER */
.header {
 padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header p{
 color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px;
}
/* back button */

/* CONTENT AREA */
.content {
  background: #23272f;
  border-radius: 20px 20px 0 0;
  min-height: calc(100vh - 48px);
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 
}

/* icon */
.iconBox {
  width: 65px;
  height: 65px;
  background: #d9e1e8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* subtitle */
.subtitle {
  color: #d0d0d0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

/* FORM */
.content form {
  width: 100%;
  max-width: 320px;
  background: transparent;
}

/* labels */
.content form label {
   color: #cfcfcf;
  font-size: 12px;
  display: block;
  
  
}

/* inputs */
.content form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px; /* gap thoda kam */
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background: transparent !important; /* 🔥 force transparent */
  color: white;
  font-size: 14px;
  
}

.content form input:focus {
  outline: none;
  border: 1px solid #5e8bb9; /* 🔥 same as header */
}

.content form input:-webkit-autofill,
.content form input:-webkit-autofill:hover,
.content form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2f2f2f inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* button */
.loginBtn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background: transparent;
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}

/* hover */
.loginBtn:hover {
  background: rgb(35, 35, 35);
}

/* error */
.error {
  width: 100%;
  max-width: 320px;
  background: rgb(177, 103, 103);
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}