*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
background: #23272f;
}


/* container */
.container {
 background: #1a3c5e;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/* header */
.header {
 padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px;
}

/* content */
.content {
    background: #23272f;
  border-radius: 20px 20px 0 0;
  min-height: calc(100vh - 68px);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* search */
.searchInput {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #636363;
  background: #2c3240;
  color: white;
  outline: none;
}

.searchInput:focus {
  outline: none;
  border: 1px solid #396ea3;
}

/* count */
.count {
  color: #ccc;
  font-size: 13px;
  margin: 10px 0;
}

/* list */
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* card */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3240;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #636363;
}

/* left section */
.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d9e6f2;
  color: #24486b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}

/* name */
.name {
  color: white;
  font-size: 14px;
}

/* info */
.info {
  color: #d2d0d0;
  font-size: 12px;
}

/* delete button */
.deleteBtn {
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  background: transparent;
  color: white;
  cursor: pointer;
}

.deleteBtn:hover{
background: #363434 ;
}

/* no data */
.noData {
  color: #aaa;
  text-align: center;
}

/* modal */
/* overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal box */
.modal {
  background: #23272f;
  border-radius: 20px;
  padding: 25px 20px;
  width: 90%;
  max-width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* icon */
.iconBox {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  background: #f2dede;
  color: #cf6565;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

/* title */
.modal h2 {
  margin: 10px 0;
  font-size: 18px;
}

/* description */
.desc {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 15px;
}

/* student tag */
.studentTag {
  display: inline-block;
  background: #f2dede;
  color: #c53030;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 15px;
}

/* buttons */
.modalBtns {
  display: flex;
  gap: 10px;
}

/* cancel */
.cancelBtn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  background: transparent;
  color: white;
  cursor: pointer;
}

/* confirm */
.confirmBtn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #666;
  background: transparent;
  color: white;
  cursor: pointer;
}

/* hover */
.cancelBtn:hover,
.confirmBtn:hover {
  background: rgba(255,255,255,0.05);
}
.error{
    background: #c93d3d;
  color: #cbcbcb;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}