*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #3a3a3a;
}

.container{
  background: #1a3c5e;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.Content{
  background: #23272f;
  border-radius: 20px 20px 0 0;
  min-height: calc(100vh - 68px);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  padding: 16px;
  display: flex;
  align-items: center;

  display: grid;
  text-align: left;

}

.header h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px;
}
.header p {
  color: rgba(255,255,255,0.6);
  font-size: 11px;
  margin: 0;
}


.container input{
  width: 100%;
  color: white;
  padding: 12px 14px;
 border: 1px solid #636363;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
  background: transparent;
}

.container input::placeholder{
  color:#9e9e9e ;
}
.container input:focus{
   border-color: #2563eb;
   box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.studentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
  background: transparent;
}

.studentTable thead {
  background-color: #1a3c5e;
  color: white;
}

.studentTable th,
.studentTable td {
 border: 1px solid #636363;
  padding: 12px 15px;
  text-align: center;
  color: white;
  background: transparent;
}

/* .studentTable tbody tr:nth-child(even) {
  background:transparent;
} */

.studentTable tbody tr:hover {
  color: white;
  transition: 0.3s;
}

.studentTable td {
  font-size: 15px;
  color: white;
}

.studentTable th {
  font-size: 16px;
  font-weight: 600;
}
.entryBtn{
  background:rgb(71, 130, 71);
  outline: none;
   border: 1px solid #666;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
  color:white;
  transition:0.25s;
}

.entryBtn:hover{
  background:#3f7b1c;
  transform:scale(1.05);
}

.exitBtn{
   background:rgb(154, 59, 59);
  outline: none;
   border: 1px solid #666;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
  color:white;
  transition:0.25s;
}

.exitBtn:hover{
  background:#cc040e;
  transform:scale(1.05);
}



@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .container input {
   width: 100%;
  }
}