*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
   
}

.Container {
  background: #1a3c5e;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.header {
 padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  
}

/* title */
.header p {
    color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px;
}

.mainContainer{
    background: #23272f;
  border-radius: 20px 20px 0 0;
  min-height: calc(100vh - 68px);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchInputBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.searchInput {
  width: 90%;
  padding: 10px;
  
  border-radius: 8px;
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  color: #ffffff;
}

.searchInput:focus {
  outline: none;
  border: 1px solid #2f76bc;
}

.detailBox{
padding: 22px;
}
/* Grid Layout */
.seatGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  
}

/* Seat Card */
.seatCard {
  background:transparent;
  color: rgb(193, 193, 193);
  border-radius: 12px;
  padding: 15px;
  text-align:start;
  border: 1px solid #b7b7b7;
  
  transition: 0.3s;
}



/* Seat Number (Top Highlight) */
.seatNo {
  height: 25px;
  width: 100px;
  background: #c7c5e6;
  color: rgb(32, 77, 137);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:15px ;
  overflow: hidden;
}

/* Student Info */
.studentInfo p {
  margin: 3px 0;
  font-size: 14px;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
}



@media (min-width: 768px) {
  .Container {
    padding: 30px 24px;
  }

  .heading {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .table thead th,
  .table tbody td {
    padding: 16px 18px;
    font-size: 15px;
  }
}


@media (min-width: 1024px) {
  .studentTable {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr); /* 🔥 4 cards ek row me */
    gap: 20px;
  }

  .studentTable tbody {
    display: contents; /* 🔥 IMPORTANT */
  }

  .studentTable tr {
    display: block;
    margin: 0;
  }
}